entrypoint = "telegram.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "telegram.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 80
externalPort = 3000

[[ports]]
localPort = 1000
externalPort = 80

[[ports]]
localPort = 5555
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 8080
externalPort = 8080
